ARG NGINX_VERSION
FROM nginx:${NGINX_VERSION}

RUN apt update

#RUN mkdir -p /var/lib/nginx

# Install Nginx.
RUN \
  echo "\ndaemon off;" >> /etc/nginx/nginx.conf && \
  chown -R www-data:www-data /var/lib/nginx

# Define working directory.
WORKDIR /etc/nginx

# Define default command.
CMD ["nginx"]

# Expose ports.
EXPOSE 80
EXPOSE 443
